.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
  width: 100%;
}

.labelSection {
  display: flex;
  flex-direction: column;
}

.resetButton {
  cursor: pointer;
  color: var(--color-negative);
  text-decoration: underline;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-sm);
  flex: 1;
}
