.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  width: 100%;
  padding: var(--spacing-xl);
  border-radius: var(--radius-main);
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-surface);
}


.controls {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-sm);
  flex: 1;
}
