/* Button Component Styles */

.button {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--radius-subtle);
  cursor: pointer;
  transition: all 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  border: none; /* Reset default button border */
}
.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.primary {
  background-color: var(--color-primary);
}

.secondary {
  background-color: var(--color-bg-subtle);
}

.danger {
  background-color: var(--color-negative);
}

.ghost {
  background-color: transparent;
  border: 1px solid var(--color-border);
}

.ghost.active {
  background-color: rgba(65, 113, 255, 0.1);
  border-color: var(--color-primary);
}

.icon {
  background-color: transparent;
  padding: var(--spacing-2xs);
  min-width: auto;
  border: none;
}

.icon:hover {
  color: var(--color-primary);
}

.badge {
  position: absolute;
  right: var(--spacing-md);
  background-color: transparent;
  padding: var(--spacing-2xs);
  min-width: auto;
  border: none;
  z-index: 2;
}

.badge:hover {
  color: var(--color-primary);
  transform: scale(1.1);
}

.hasIcon {
  justify-content: space-between;
}

.small {
  padding: var(--spacing-2xs) var(--spacing-sm);
  gap: var(--spacing-xs);
}
